3rdparty/*
CMakeFiles/
build/

CMakeCache*
Makefile
cmake_install.cmake
*.swl
*.swm
*.swn
*.swo
*.swp
*.cpp~
*.cbp
lib
logs
tags
.idea

# Binaries
Almag_RetDriver
Almag_RetDriver_UT
Almag_RetDriver_MT

