3rdparty/*
CMakeFiles/
build/
cmake-build-debug/*

CMakeCache*
Makefile
cmake_install.cmake
*.swl
*.swm
*.swn
*.swo
*.swp
*.cpp~
*.cbp
lib
logs
tags
.idea

# Binaries
KorytkoMag_RetDriver
KorytkoMag_RetDriver_UT
KorytkoMag_RetDriver_MT

